<body>
  <div class="container">
    <form class="registerForm" (ngSubmit)="onRegister()">
      <input placeholder="First Name" name="firstName" required />
      <input placeholder="Last Name" name="lastName" required />
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" required />
      <div class="buttonContainer">
        <button type="submit" class="guideButton">
          Register!
        </button>

      </div>

    </form>
  </div>
</body>
