<body>
  <div class="container">
    <form class="registerForm" (ngSubmit)="onRegister()">
      <h1 class="registerText">Registeration</h1>
      <input placeholder="First Name" name="firstname" [(ngModel)]="firstname" required />
      <input placeholder="Last Name" name="lastname" [(ngModel)]="lastname" required />
      <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required />
      <div *ngIf="!isEmailValid() && email" class="error-message">
        Please enter a valid email address.
      </div>
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required />
      <input type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" required />
      <div *ngIf="!doPasswordsMatch() && confirmPassword" class="error-message">
        Passwords do not match.
      </div>
      <div class="buttonContainer">
        <button type="submit" class="guideButton">
          Register!
        </button>
        <a routerLink="/login" class="existingEmailLink">
          Already have an email?
        </a>
      </div>

    </form>
  </div>
</body>
