<body>
  <div class="container">
    <form class="registerForm" (ngSubmit)="onRegister()">
      <input placeholder="First Name" name="firstname" [(ngModel)]="firstname" required />
      <input placeholder="Last Name" name="lastname" [(ngModel)]="lastname" required />
      <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required />
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required />
      <div class="buttonContainer">
        <button type="submit" class="guideButton">
          Register!
        </button>

      </div>

    </form>
  </div>
</body>
