<body>
  <div class="container">

    <form class="login-form" (ngSubmit)="onLogin()">
      <div class="form1">
        <h1 class="WelcomeMessage">Welcome!</h1>
        <input type="email" placeholder="Email" [(ngModel)]="customer_email" name="customer_email" required class="emailPlaceholder"/>
        <input type="password" placeholder="Password" [(ngModel)]="customer_password" name="customer_password" required class="passwordPlaceholder"/>
        <a routerLink="/home" class="forgotButton">
          Forgot Password
        </a>
      </div>
      <div class="buttonContainer">
        <div class="submitContainer">
          <button type="submit" class="SubmitButton">
            Sign In!
          </button>
        </div>
        <div class="registerContainer">
          <h3>
            Don't have an account?
            <button type="button" routerLink="/register" class="RegisterButton">
              Sign Up!
            </button>
          </h3>
      
        </div>


      </div>
    </form>

  </div>
   
</body>
