<body>
  <div class="container">
    <form class="login-form" (ngSubmit)="onLogin()">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
      <div class="buttonContainer">
        <button type="submit" class="guideButton">
          Log in!
        </button>
        <button routerLink="/register" class="guideButton">
          Register
        </button>
        <button routerLink="/login" class="guideButton">
          Forgot Password
        </button>
      </div>
    </form>
  </div>
</body>
