
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
  height: 100%;
}
#toggle-linear {
  background-color: black; /* Green background */
  color: white; /* White text color */
}
