<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
  <div class="containerBox">
    <h1 class="Introduction">Welcome To Transit Tracker</h1>
    <p>Transit Tracker free to use platform that allows you to access and view transportation feeds from Transit land</p>
    <div class="buttonContainer">
      <button routerLink="/guide" class="guideButton">
        How to use!
      </button>
      <button routerLink="/login" class="guideButton">
        Login!
      </button>

    </div>

  </div>
 
</body>
