<body>
  <div class="containerBox">
    <h1 class="Introduction">Welcome To Transit Tracker</h1>
    <p>Transit Tracker free to use platform that allows you to access and view transportation feeds from Transit land</p>
    <div class="buttonContainer">
      <button routerLink="/guide" class="guideButton">
        How to use!
      </button>
      <button routerLink="/login" class="guideButton">
        Login!
      </button>
    </div>

  </div>
  <div class="container">
    <h1 class="IntroTitle">Transit Tracker</h1>
    <!--Content will contain the train parts and tracks-->
    <div class="content">
      <div class="track"></div>
      <div class="train">
        <div class="front"></div>
        <div class="wheels">
          <div class="smallOne"></div>
          <div class="smallTwo"></div>
          <div class="smallThree"></div>
          <div class="smallFour"></div>
          <div class="smallFive"></div>
          <div class="smallSix"></div>
          <div class="big"></div>
        </div>
        <div class="cord"></div>
        <div class="coach"></div>
        <div class="coachTwo"></div>
        <div class="windows"></div>

      </div>
    </div>
  </div>
  <div class="containerBox2">
    <p>new page</p>
  </div>
</body>
