
body {
  overflow:hidden;
  display:contents;
}
@media(min-width: 1441px) { /*My size*/
  .containerBox {
    background: #f2f2f2;
    position: absolute;
    top: 25%;
    border-radius: 20px;
    text-align: center;
    height: 150px;
    left: 30%;
    padding: 20px; /* Add padding to give space between text and the border */
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


}
  @media(max-width: 1440px) { /*1440 810*/
    .containerBox {
      background: #f2f2f2;
      position: absolute;
      top: 25%;
      border-radius: 20px;
      text-align: center;
      height: 150px;
      left: 25%;
      padding: 20px; /* Add padding to give space between text and the border */
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }


  }

  @media(max-width: 1025px) { /*1025 768*/
    .containerBox {
      background: #f2f2f2;
      position: absolute;
      top: 25%;
      border-radius: 20px;
      text-align: center;
      height: 150px;
      left: 30%;
      width:300px;
      padding: 20px; /* Add padding to give space between text and the border */
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

  }

  @media(max-width: 1024px) { /*1024 width 768 height Laptop view*/


    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .containerBox {
      background: #f2f2f2;
      position: absolute;
      top: 15%;
      left: 33%;
      border-radius: 20px;
      text-align: center;
      height: 200px;
      width:300px;
    }

 
  }

  @media (min-width: 426px) and (max-width: 768px) { /*768 width 600 height Tablet view*/
    .containerBox {
      background: #f2f2f2;
      position: absolute;
      top: 30%;
      border-radius: 20px;
      text-align: center;
      height: 100px;
      left: 27%;
      width:300px;
      padding: 15px; /* Add padding to give space between text and the border */
      font-size:10px;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

  }
@media (min-width: 376px) and (max-width: 425px) { /*425 width 812 height Mobile L*/
  .containerBox {
    background: #f2f2f2;
    position: absolute;
    top: 25%;
    border-radius: 20px;
    text-align: center;
    height: 200px;
    left: 19%;
    width: 250px;
    padding: 15px; /* Add padding to give space between text and the border */
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

}

@media(min-width:321px) and (max-width: 375px) { /*375 width 667 height Mobile M*/
  .containerBox {
    background: #f2f2f2;
    position: absolute;
    top: 25%;
    border-radius: 20px;
    text-align: center;
    height: 250px;
    left: 12%;
    width: 250px;
    padding: 15px; /* Add padding to give space between text and the border */
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
 
}
@media(max-width: 320px) { /*320 width 568 height Mobile S*/
  .containerBox {
    background: #f2f2f2;
    position: absolute;
    top: 25%;
    border-radius: 20px;
    text-align: center;
    height: 260px;
    left: 15%;
    width: 200px;
    padding: 15px; /* Add padding to give space between text and the border */
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

}
