

@media(min-width: 1025px) { /*Desktop View*/
  body {
    background: #cfd3d4;
    min-height: 98vh; /* Ensures the body is at least 100% of the viewport height */
    margin: 0; /* Removes any default margin that might cause overflow */
    overflow: hidden;
  }
  #containerIcon {
    position: absolute;
    background-image: url('Images/icon2.png');
    background-size: contain; /* Ensure the image scales to fit the container */
    background-position: center; /* Center the image in the div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 150px; /* Set a fixed width for the icon */
    height: 150px; /* Set a fixed height for the icon */
    left:3%;
    top:-35px;
  }

  .navigationBar {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    font-size: 20px;
    margin: 30px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
    /*
    style anything under the a tag in navigationBar
    */
    .navigationBar a {
      text-decoration: none;
      color: black;
      padding: 0 15px; /* Add horizontal padding for spacing */
    }

      .navigationBar a:hover {
        color: #1090b3;
        border-radius: 10px;
        padding: 6px 15px;
        background: #fff;
        text-align: center;
      }

  a:visited {
    color: none;
  }
  .cloud1 {
    animation: animateCloud 50s linear infinite;
    animation-delay: 0s;
    width: 250px;
    height: 200px;
    pointer-events: none; /* This makes the image non-interactive */
  }
  @keyframes animateCloud{
      0%
      {
        transform:translateX(-100%) scale(1);
      }
      100%
      {
        transform: translateX(900%) scale(2.5);
      }
  }




}
@media(max-width: 1024px) {
  body {
    background: #cfd3d4;
    min-height: 98vh; /* Ensures the body is at least 100% of the viewport height */
    margin: 0; /* Removes any default margin that might cause overflow */
    overflow: hidden;
  }

  #containerIcon {
    position: absolute;
    background-image: url('Images/icon2.png');
    background-size: contain; /* Ensure the image scales to fit the container */
    background-position: center; /* Center the image in the div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100px; /* Set a fixed width for the icon */
    height: 150px; /* Set a fixed height for the icon */
    left: 1%;
    top: -35px;
  }
  /*stylize both nav bars inside of navigationBar*/
  .navigationBar {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    word-spacing: 1.2rem;
    background: #f2f2f2;
    font-size: 15px;
    margin: 30px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
    /*
    style anything under the a tag in navigationBar
*/
    .navigationBar a {
      text-decoration: none;
      color: black;
    }

      .navigationBar a:hover {
        color: skyblue;
      
      }

  a:visited {
    color: none;
  }

  .cloud1 {
    animation: animateCloud 50s linear infinite;
    animation-delay: 0s;
    width: 250px;
    height: 200px;
  }

  @keyframes animateCloud {
    0% {
      transform: translateX(-100%) scale(1);
    }

    100% {
      transform: translateX(900%) scale(2.5);
    }
  }
}





@media (min-width: 426px) and (max-width: 768px) {
  body {
    background: #cfd3d4;
    min-height: 98vh; /* Ensures the body is at least 100% of the viewport height */
    margin: 0; /* Removes any default margin that might cause overflow */
    overflow: hidden;
  }
  #containerIcon {
    position: absolute;
    background-image: url('Images/icon2.png');
    background-size: contain; /* Ensure the image scales to fit the container */
    background-position: center; /* Center the image in the div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 75px; /* Set a fixed width for the icon */
    height: 150px; /* Set a fixed height for the icon */
    left: 1%;
    top: -35px;
  }
  /*stylize both nav bars inside of navigationBar*/
  .navigationBar {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    word-spacing: 0.5rem;
    background: #f2f2f2;
    font-size: 13px;
    margin: 30px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
    /*
    style anything under the a tag in navigationBar
*/
    .navigationBar a {
      text-decoration: none;
      color: black;
    }

      .navigationBar a:hover {
        color: skyblue;
      }

  a:visited {
    color: none;
  }

  .cloud1 {
    animation: animateCloud 50s linear infinite;
    animation-delay: 0s;
    width: 250px;
    height: 200px;
  }

  @keyframes animateCloud {
    0% {
      transform: translateX(-100%) scale(1);
    }

    100% {
      transform: translateX(900%) scale(2.5);
    }
  }

}
@media (min-width: 376px) and (max-width: 425px) {
  body {
    background: #cfd3d4;
    min-height: 98vh; /* Ensures the body is at least 100% of the viewport height */
    margin: 0; /* Removes any default margin that might cause overflow */
    overflow: hidden;
  }

  #containerIcon {
    visibility: hidden;
  }
  /*stylize both nav bars inside of navigationBar*/
  .navigationBar {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    word-spacing: 0.5rem;
    background: #f2f2f2;
    font-size: 11px;
    margin: 30px;
    width: 88%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
    /*
    style anything under the a tag in navigationBar
*/
    .navigationBar a {
      text-decoration: none;
      color: black;
    }

      .navigationBar a:hover {
        color: skyblue;
      }

  a:visited {
    color: none;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  .cloud1 {
    animation: animateCloud 50s linear infinite;
    animation-delay: 0s;
    width: 250px;
    height: 200px;
  }

  @keyframes animateCloud {
    0% {
      transform: translateX(-100%) scale(1);
    }

    100% {
      transform: translateX(900%) scale(2.5);
    }
  }

}
@media(min-width:321px) and (max-width: 375px) {
  body {
    background: #cfd3d4;
    min-height: 98vh; /* Ensures the body is at least 100% of the viewport height */
    margin: 0; /* Removes any default margin that might cause overflow */
    overflow: hidden;
  }

  #containerIcon {
    visibility: hidden;
  }
  /*stylize both nav bars inside of navigationBar*/
  .navigationBar {
    padding: 13px;
    display: flex;
    justify-content: space-between;
    word-spacing: 0.5rem;
    background: #f2f2f2;
    font-size: 9px;
    margin: 30px;
    width: 88%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
    /*
    style anything under the a tag in navigationBar
*/
    .navigationBar a {
      text-decoration: none;
      color: black;
    }

      .navigationBar a:hover {
        color: skyblue;
      }

  a:visited {
    color: none;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

}
@media(max-width: 320px) {
  body {
    background: #cfd3d4;
    min-height: 98vh; /* Ensures the body is at least 100% of the viewport height */
    margin: 0; /* Removes any default margin that might cause overflow */
    overflow: hidden;
  }

  #containerIcon {
    visibility: hidden;
  }
  /*stylize both nav bars inside of navigationBar*/
  .navigationBar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    word-spacing: 0.5rem;
    background: #f2f2f2;
    font-size: 10.5px;
    margin: 30px;
    width: 88%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
    /*
    style anything under the a tag in navigationBar
*/
    .navigationBar a {
      text-decoration: none;
      color: black;
    }

      .navigationBar a:hover {
        color: skyblue;
      }

  a:visited {
    color: none;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .fade-out {
    animation: 3s fadeOut forwards; /* 'forwards' keeps the final state after the animation ends */
    animation-iteration-count: 1; /* Ensure the animation runs only once */
  }
}
