<main>
  <router-outlet></router-outlet>
</main>
<body>
  <nav class="navigationBar">
    <div class="left-side-navbar">
      <a routerLink="home">
        Home
      </a>
      <a routerLink="">
        Discover
      </a>
      <a routerLink="">
        Products
      </a>
      <a routerLink="">
        About
      </a>
      <a routerLink="">
        Pricing
      </a>
    </div>
    <div class="right-side-navbar">
      <a routerLink="login">
        Login
      </a>
      <a routerLink="">
        Download
      </a>
    </div>
  </nav>
  <h1 class="fade-out">fade-out animation</h1>
</body>

