<body>
  <div id="containerIcon"></div>
  <nav class="navigationBar">
    <div class="left-side-navbar">
      <a routerLink="home">
        Home
      </a>
      <a routerLink="discover">
        Discover
      </a>
      <a routerLink="guide">
        Guide
      </a>
      <a routerLink="about">
        About
      </a>
    </div>
    <div class="right-side-navbar">
      <a routerLink="profile">
        Profile
      </a>
      <a routerLink="login">
        Login
      </a>
    </div>
  </nav>
  <img src="../assets/cloud1.png" class="cloud1" />
  <main>
    <router-outlet></router-outlet>
  </main>

</body>

