<div class="card">
  <div class="entireForm">
    <div class="container" *ngIf="!isEditMode">
      <p>First Name: {{customer_firstname}}</p>
      <p>Last Name: {{customer_lastname}}</p>
      <p>Email: {{customer_email}}</p>
      <p>Password: {{customer_password}}</p>
      <p>Token : {{feed_token}}</p>
      <button (click)="toggleEditMode()">Edit Account</button>
    </div>
    <div class="container" *ngIf="isEditMode">
      <form (ngSubmit)="saveChanges()">
        <p>
          <label>First Name: </label>
          <input matInput [(ngModel)]="customer_firstname" name="customer_firstname">
        </p>

        <p>
          <label>Last Name: </label>
          <input matInput [(ngModel)]="customer_lastname" name="customer_lastname">
        </p>

        <p>
          <label>Email: </label>
          <input matInput [(ngModel)]="customer_email" name="customer_email">
        </p>

        <p>
          <label>Password: </label>
          <input matInput [(ngModel)]="customer_password" name="customer_password" type="password">
        </p>
        <p>
          <label>Please enter your token: </label>
          <input matInput [(ngModel)]="feed_token" name="feed_token">
        </p>
        <button type="submit">Save</button>
        <button type="button" (click)="toggleEditMode()">Cancel</button>
      </form>
    </div>

 
  </div>
</div>
